<h1><%= @article.name %></h1><br>
<h3>by <%= @article.author %></h3>
<%= @article.content %>
<% if logged_in? %>
 <p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Browse Articles", articles_path %> |
  <%= link_to "Destroy", article_path(@article), method: :delete,
    data: { confirm: 'Are you sure?' } %> |
    <% else %>
    <br>
    <h2>Please log in <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", signup_path %></h2>
    <% end %>
    <%= link_to 'Back', root_path %>
</p>